body {
    background-image: url("../images/tree_bark.png");
    /* background-color: red; */
}

header {
    background-color: #4aaaa5;
}

    body {
        color: #777777;
    }

    .Me {
        float: left;
        overflow: auto;
    }

footer {
    background-color: #666666;
}