
html {
    width: 960px;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5em;
}
header {
    border: 1px solid #dddddd;
    display: block;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

main {
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: whitesmoke;
   
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #757575;
    display: block;
    background-image: url("../images/tree_bark.png");
}

#name {
    font-family: 'Cuprum', sans-serif;
    background-color: #4aaaa5;
    /* color: #4f4f4f; */
    color: whitesmoke;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
}

h2 {
    color: #4aaaa5;
}

    ul {
        float: right;
        list-style-type: none;
        padding-top: 25px;
        margin-right: 20px; 
    }

    li {
        display: inline;
        background-color: #9a9a9a;
        padding: 14px 16px;
        font-weight: bold;
    }

    li a {
    
        text-decoration: none;
        padding: 14px 16px;
        text-align: center;
        color: whitesmoke;
    }

    li:hover {
        background-color: #757575;
    }

    .myStory {
            text-indent: 50px;
        }

    p::first-letter {
        color: #4aaaa5;
        font-size: 130%;
    }

    span {
        color: #4aaaa5;
        font-weight: bold;
    }
    #About {
      margin: 25px;
        
    }
    #Me {
        float: left;
        overflow: auto;
        padding-right: 15px;
        border-radius: 150px;
       
        
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

     textarea, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type=submit] {
        width: 15%;
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=reset] {
        width: 15%;
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      div.gallery {
        position: relative;
        margin: 10px;
        border: 1px solid #ccc;
        float: left;
        width: 380px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
          background-color: #4aaaa5;
          color: whitesmoke;
          margin-top: -10px;
          padding: 15px 0;
          text-align: center;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.2em;
          position: absolute;
          width: 100%;
      }

    footer {
        font-size: 0.7em;
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0;
        color: #adadad;
    }
    